BTSolution/Schemas/HAlo/BallyGetPlayerInfoResponse1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Ravi (Droisys Inc) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:pli="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli" xmlns:s2s="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli" elementFormDefault="qualified">
	<xs:import namespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" schemaLocation="BallyGetPlayerInfoResponse.xsd"/>
	<xs:element name="playerInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="playerInfoList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="playerProfile" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="title" type="xs:string" form="qualified"/>
									<xs:attribute name="suffix" type="xs:string" form="qualified"/>
									<xs:attribute name="registeredProperty" type="xs:string" form="qualified"/>
									<xs:attribute name="registeredDateTime" type="xs:dateTime" form="qualified"/>
									<xs:attribute name="preferredName" type="xs:string" form="qualified"/>
									<xs:attribute name="playerWeight" type="xs:long" form="qualified"/>
									<xs:attribute name="playerVIP" type="xs:boolean" form="qualified"/>
									<xs:attribute name="playerProperty" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="playerHeight" type="xs:long" form="qualified"/>
									<xs:attribute name="playerActive" type="xs:boolean" form="qualified"/>
									<xs:attribute name="pinNumber" form="qualified">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="256"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="pinActive" type="xs:boolean" form="qualified"/>
									<xs:attribute name="lastName1" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="middleName" type="xs:string" form="qualified"/>
									<xs:attribute name="hairColor" type="xs:string" form="qualified"/>
									<xs:attribute name="genderType" type="xs:string" form="qualified"/>
									<xs:attribute name="fullName" type="xs:string" form="qualified"/>
									<xs:attribute name="firstName" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="eyeColor" type="xs:string" form="qualified"/>
									<xs:attribute name="ctrComplete" type="xs:boolean" form="qualified"/>
									<xs:attribute name="birthDate" type="xs:date" use="required" form="qualified"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="playerAddress" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="stateProvCode" type="xs:string" form="qualified"/>
									<xs:attribute name="returnedMail" type="xs:boolean" form="qualified"/>
									<xs:attribute name="primaryAddress" type="xs:boolean" form="qualified"/>
									<xs:attribute name="postCode" form="qualified">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="mailtoAddress" type="xs:boolean" form="qualified"/>
									<xs:attribute name="excludeAddress" type="xs:boolean" form="qualified"/>
									<xs:attribute name="countryCode" type="xs:string" form="qualified"/>
									<xs:attribute name="addressType" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="addressLine3" type="xs:string" form="qualified"/>
									<xs:attribute name="addressLine2" type="xs:string" form="qualified"/>
									<xs:attribute name="addressLine1" type="xs:string" form="qualified"/>
									<xs:attribute name="addressId" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="addressCity" type="xs:string" form="qualified"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="playerPhone" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="primaryPhone" type="xs:boolean" form="qualified"/>
									<xs:attribute name="phoneType" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="phoneNumber" use="required" form="qualified">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="32"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="phoneId" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="phoneCountry" form="qualified">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="phoneAreaCode" form="qualified">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="excludePhone" type="xs:boolean" form="qualified"/>
									<xs:attribute name="calltoPhone" type="xs:boolean" form="qualified"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="playerEmail" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="excludeEmail" type="xs:boolean" form="qualified"/>
									<xs:attribute name="emailId" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="emailAddress" type="xs:string" form="qualified"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="playerIdent" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="verifiedDateTime" type="xs:dateTime" form="qualified"/>
									<xs:attribute name="stateProvCode" type="xs:string" form="qualified"/>
									<xs:attribute name="identType" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="identNumber" form="qualified">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="32"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="identId" use="required" form="qualified">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="32"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="identExpiry" type="xs:dateTime" form="qualified"/>
									<xs:attribute name="identVerified" type="xs:boolean" form="qualified"/>
									<xs:attribute name="identActive" type="xs:boolean" form="qualified"/>
									<xs:attribute name="countryCode" type="xs:string" form="qualified"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="playerStop" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="stopType" type="xs:string" use="required" form="qualified"/>
									<xs:attribute name="stopEffectiveDate" type="xs:date" form="qualified"/>
									<xs:attribute name="stopActive" type="xs:boolean" form="qualified"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="playerClub" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="playerClubExpDate" type="xs:date" form="qualified"/>
									<xs:attribute name="playerClubEffDate" type="xs:date" form="qualified"/>
									<xs:attribute name="playerClubActive" type="xs:boolean" form="qualified"/>
									<xs:attribute name="clubNotify" type="xs:boolean" form="qualified"/>
									<xs:attribute name="clubName" type="xs:string" form="qualified"/>
									<xs:attribute name="clubId" use="required" form="qualified">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="32"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="cardSuffix" type="xs:int" use="optional" form="qualified"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="playerId" type="xs:string" use="required" form="qualified"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="s2s:transAction"/>
			<xs:attribute ref="s2s:transStation"/>
			<xs:attribute ref="s2s:transEmployee"/>
			<xs:attribute ref="s2s:transDateTime" use="required"/>
			<xs:attribute ref="s2s:transApproved"/>
			<xs:attribute ref="s2s:timeToLive"/>
			<xs:attribute ref="s2s:sessionType" use="required"/>
			<xs:attribute ref="s2s:sessionRetry"/>
			<xs:attribute ref="s2s:sessionId"/>
			<xs:attribute ref="s2s:retryCount"/>
			<xs:attribute ref="s2s:propertyId" use="required"/>
			<xs:attribute ref="s2s:gameDate" use="required"/>
			<xs:attribute ref="s2s:errorText"/>
			<xs:attribute ref="s2s:errorCode"/>
			<xs:attribute ref="s2s:dateTime" use="required"/>
			<xs:attribute ref="s2s:commandId"/>
			<xs:attribute ref="s2s:clientType"/>
			<xs:attribute ref="s2s:clientId"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
