BTSolution/Schemas/HAlo/BallyGetPlayerInfoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) by Ravichandran Kasirajan (Droisys Inc) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:s2s="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" xmlns:pli="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" elementFormDefault="qualified">
	<xs:import namespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli" schemaLocation="BallyGetPlayerInfoRequest1.xsd"/>
	<xs:attribute name="transAction" type="xs:string"/>
	<xs:attribute name="transStation" type="xs:string"/>
	<xs:attribute name="transEmployee" type="xs:string"/>
	<xs:attribute name="transDateTime" type="xs:dateTime"/>
	<xs:attribute name="transApproved" type="xs:string"/>
	<xs:attribute name="timeToLive" type="xs:int"/>
	<xs:attribute name="sessionType" type="xs:string"/>
	<xs:attribute name="sessionRetry" type="xs:int"/>
	<xs:attribute name="sessionId" type="xs:long"/>
	<xs:attribute name="retryCount" type="xs:int"/>
	<xs:attribute name="propertyId" type="xs:string"/>
	<xs:attribute name="gameDate" type="xs:dateTime"/>
	<xs:attribute name="dateTime" type="xs:dateTime"/>
	<xs:attribute name="commandId" type="xs:long"/>
	<xs:attribute name="clientType" type="xs:string"/>
	<xs:attribute name="clientId" type="xs:string"/>
	<xs:element name="s2sMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="s2sHeader">
					<xs:complexType>
						<xs:attribute name="toSystem" type="xs:anyURI" use="required" form="qualified"/>
						<xs:attribute name="referenceMessageId" type="xs:long" use="optional" form="qualified"/>
						<xs:attribute name="messageId" type="xs:long" use="required" form="qualified"/>
						<xs:attribute name="fromSystem" type="xs:anyURI" use="required" form="qualified"/>
						<xs:attribute name="dateTimeSent" type="xs:dateTime" use="required" form="qualified"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="s2sBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="pli:playerInfo"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
