BTSolution/Schemas/HAlo/BallyGetPlayerInfoRequest1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) by Ravi (Droisys Inc) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:pli="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli" xmlns:s2s="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/pli" elementFormDefault="qualified">
	<xs:import namespace="http://www.gamingstandards.com/s2s/schemas/v1.2.6/" schemaLocation="BallyGetPlayerInfoRequest.xsd"/>
	<xs:element name="playerInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="getPlayerInfo">
					<xs:complexType>
						<xs:attribute name="playerId" type="xs:string" use="required" form="qualified"/>
						<xs:attribute name="includeStops" type="xs:boolean" use="optional" form="qualified"/>
						<xs:attribute name="includeProfile" type="xs:boolean" use="optional" form="qualified"/>
						<xs:attribute name="includePhones" type="xs:boolean" use="optional" form="qualified"/>
						<xs:attribute name="includeIdents" type="xs:boolean" use="optional" form="qualified"/>
						<xs:attribute name="includeEmails" type="xs:boolean" use="optional" form="qualified"/>
						<xs:attribute name="includeClubs" type="xs:boolean" use="optional" form="qualified"/>
						<xs:attribute name="includeAddresses" type="xs:boolean" use="optional" form="qualified"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="s2s:transAction"/>
			<xs:attribute ref="s2s:transStation"/>
			<xs:attribute ref="s2s:transEmployee"/>
			<xs:attribute ref="s2s:transDateTime" use="required"/>
			<xs:attribute ref="s2s:transApproved"/>
			<xs:attribute ref="s2s:timeToLive"/>
			<xs:attribute ref="s2s:sessionType" use="required"/>
			<xs:attribute ref="s2s:sessionRetry"/>
			<xs:attribute ref="s2s:sessionId"/>
			<xs:attribute ref="s2s:retryCount"/>
			<xs:attribute ref="s2s:propertyId" use="required"/>
			<xs:attribute ref="s2s:gameDate" use="required"/>
			<xs:attribute ref="s2s:dateTime" use="required"/>
			<xs:attribute ref="s2s:commandId"/>
			<xs:attribute ref="s2s:clientType"/>
			<xs:attribute ref="s2s:clientId"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
